.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 658px;
	@include b-ground;
	background-attachment: fixed;
	@include min-width(576px) {
		height: 758px;
	}
	@include min-width(992px) {
		height: 858px;
	}
	&-top-lenta {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 72px;
		background-color: $main-color;
		z-index: 1;
		&__item {
			display: flex;
			align-items: center;
			height: 72px;
			width: 40%;
			margin-left: 10px;
			@include min-width(576px) {
				width: auto;
				margin-left: 0;
			}
			.main-logo {
				width: 100%;
			}
			.soc-icon {
				width: 20px;
				@include min-width(576px) {
					width: 25px;
				}
			}
		}
		&__item--soc {
			display: flex;
			justify-content: space-around;
			width: 50%;
			@include min-width(576px) {
				justify-content: space-between;
				width: 180px;
			}
			a {
				text-decoration: none;
				transition: transform .4s;
				&:hover {
					transform: translateY(-5px);
				}
			}
		}
	}
	&-item {
		position: relative;
		color: #fff;
		&__top-heading {
			text-transform: uppercase;
			font-size: 22px;
			@include min-width(576px) {
				font-size: 28px;
			}
			@include min-width(992px) {
				font-size: 35.8px;
			}
		}
		&__main-heading {
			text-transform: uppercase;
			font-size: 45px;
			line-height: 45px;
			font-weight: 900;
			margin-top: 20px;
			margin-bottom: 20px;
			@include min-width(576px) {
				font-size: 80px;
				line-height: 80px;
				margin-top: 30px;
				margin-bottom: 30px;
			}
			@include min-width(768px) {
				font-size: 100px;
				line-height: 100px;
			}
			@include min-width(992px) {
				font-size: 100px;
				line-height: 100px;
			}
			@include min-width(1200px) {
				font-size: 117.4px;
				line-height: 117.4px;
				margin: 0;
			}
		}
		&__text {
			line-height: 25px;
			font-size: 18px;
			@include min-width(576px) {
				line-height: 30px;
				font-size: 20px;
			}
		}
		&__button {
			display: flex;
			margin-top: rem(45px);
			a {
				background-color: $main-color;
				color: #fff;
				padding: rem(15px) rem(25px);
				text-transform: uppercase;
				text-decoration: none;
				text-align: center;
				font-weight: bold;
				font-size: rem(20px);
				border: 2px solid transparent;
				transition: all .4s;
				&:hover {
					background-color: #fff;
					border-color: $main-color;
					color: $main-color;
					box-shadow: -10px 10px 30px -5px rgba(0, 0, 0, .5);
					&:active {
						border: 2px solid transparent;
						background-color: $main-color;
						color: #fff;
						box-shadow: none;
					}
				}
				@include min-width(992px) {
					padding: rem(18px) rem(32px);
				}
			}
		}
	}
}
.navigation {
	position: absolute;
	background-color: rgba(#000, .9);
	left: 0;
	top: 0;
	bottom: 0;
	z-index: 0;
	transform: translateX(-100%);
	transition: transform .8s;
	width: 78%;
	@include min-width(576px) {
		width: 40%;
	}
	@include min-width(992px) {
		background-color: rgba(#000, .7);
		width: 25%;
		transform: none;
	}
	@include min-width(1200px) {
		width: 30%;
	}
	@media (min-width:1200px) and (max-width: 1430px) {
		width: 25%;
	}
	&-list {
		position: absolute;
		list-style: none;
		padding-left: 0;
		margin-top: 80px;
		left: 25px;
		font-size: 18px;
		@include min-width(576px) {
			margin-top: 138px;
		}
		@include min-width(768px) {
			left: 30px;
			right: 0;
			font-size: 20px;
		}
		@include min-width(992px) {
			padding-right: 50px;
			left: auto;
		}
		@include min-width(1200px) {
			padding-right: 100px;
		}
		&__link {
			display: flex;
			margin-bottom: 0;
			&-a {
				text-transform: uppercase;
				color: #fff;
				padding: 10px;
				text-decoration: none;
				transition: all .6s;
				&:hover {
					transform: translateX(15px);
					opacity: .7;
					color: #fff;
					text-decoration: none;
				}
				@include min-width(576px) {
					padding: 15px;
				}
			}
		}
	}
}
.navigation--active {
	transform: translateX(0);
}
.c-hamburger {
	display: block;
	position: absolute;
	top: 72px;
	left: 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	width: 70px;
	height: 60px;
	font-size: 0;
	text-indent: -9999px;
	appearance: none;
	box-shadow: none;
	border-radius: none;
	border: none;
	cursor: pointer;
	transition: background 1s;
	@include min-width(992px){
		display: none;
	}
}
.c-hamburger:focus {
	outline: none;
}
.c-hamburger span {
	display: block;
	position: absolute;
	top: 27px;
	left: 0px;
	right: 0px;
	height: 3px;
	width: 60%;
	background: white;
	@include m-auto;
}

.c-hamburger span::before,
.c-hamburger span::after {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	background-color: #fff;
	content: "";
}

.c-hamburger span::before {
	top: -14px;
}

.c-hamburger span::after {
	bottom: -14px;
}
.c-hamburger span::before,
.c-hamburger span::after {
	position: absolute;
	display: block;
	height: 3px;
	background-color: #fff;
	content: "";
}
.c-hamburger--htx {
	background-color: rgba(#000, 0);
}

.c-hamburger--htx span {
	transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
	transition-duration: 0.3s, 0.3s;
	transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
	transition-property: top, transform;
}

.c-hamburger--htx span::after {
	transition-property: bottom, transform;
}

/* состояние active при открытом меню  */
.c-hamburger--htx.is-active {
	background-color: rgba(#000, .9);
}

.c-hamburger--htx.is-active span {
	background-color: rgba(#000, .9);
}

.c-hamburger--htx.is-active span::before {
	top: 0;
	transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
	bottom: 0;
	transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
	transition-delay: 0s, 0.3s;
}

// NAVIGATION FIXED
.top-fixed-block {
	background: -moz-linear-gradient(270deg, rgba(158,0,0,1) 0%, rgba(222,0,0,1) 50%, rgba(122,0,0,1) 100%); /* ff3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(158,0,0,1)), color-stop(50%, rgba(222,0,0,1)), color-stop(100%, rgba(122,0,0,1))); /* safari4+,chrome */
	background: -webkit-linear-gradient(270deg, rgba(158,0,0,1) 0%, rgba(222,0,0,1) 50%, rgba(122,0,0,1) 100%); /* safari5.1+,chrome10+ */
	background: -o-linear-gradient(270deg, rgba(158,0,0,1) 0%, rgba(222,0,0,1) 50%, rgba(122,0,0,1) 100%); /* opera 11.10+ */
	background: -ms-linear-gradient(270deg, rgba(158,0,0,1) 0%, rgba(222,0,0,1) 50%, rgba(122,0,0,1) 100%); /* ie10+ */
	background: linear-gradient(180deg, rgba(158,0,0,1) 0%, rgba(222,0,0,1) 50%, rgba(122,0,0,1) 100%); /* w3c */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9E0000', endColorstr='#7A0000',GradientType=0 ); /* ie6-9 */
	position: fixed;
	display: flex;
	align-items: center;
	top: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 70px;
	z-index: 999;
	transform: translateY(-100%);
	transition: transform 1s;
}
.top-fixed--active {
	transform: translateY(0);
	box-shadow: 0 20px 150px -1px rgba(#000, .6);
}
.top-nav-list {
	position: static;
	display: flex;
	align-items: center;
	margin: 0;
	height: 100%;
	@include m-auto;
	width: auto;
	padding: 0;
	flex-grow: 3;
	@include min-width(1200px) {
		flex-grow: 1;
	}
	.navigation-list__link {
		flex-grow: 1;
		padding: 0;
		height: 100%;
		.navigation-list__link-a {
			display: flex;
			align-items: center;
			padding: 0;
			font-size: 14px;
			font-weight: bold;
			transition: all .6s;
			height: 100%;
			width: 100%;
			&:hover {
				transform: translateY(10px);
				opacity: 1;
			}
			@include min-width(1200px) {
				font-size: 18px;
			}
		}
	}
}
.nav-fixed-logo {
	flex-grow: 1;
	text-align: center;
}
.nav-fixed-icons {
	flex-grow: 1;
	justify-content: center;
	.soc-icon {
		margin-right: 20px;
	}
}